.wrapper{
    text-align: center;
    margin-top: 50px;
    form{
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        button{
            align-self: center;
        }
    }
}