
.row{
    width: 300px;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    td{
        width: 48%;
        height: 28px;
        background-color:  #afa7a7;
        animation: mymove 1s infinite;
        border-radius: 4px;


    }
}
@keyframes mymove {
    0%   {opacity: .5;}
    50%  {opacity: .8;}
    100% {opacity: 1;}
  }