<div class="wrapper container">
    <div class="logo-wrapper">
        <img class="logo" src="/assets/logo.jpeg" alt="logo">
        <span>Contacts Management</span>
    </div>
    <ul class="menus container" *ngIf="!isLoggedIn">
        <li class="menu"><a routerLink="login" class="btn btn-sm btn-primary">login</a></li>
        <li class="menu"><a routerLink="sign-up" class="btn btn-sm btn-primary">signup</a></li>
    </ul>
    <ul class="actions container" *ngIf="isLoggedIn">
        <li class="action"><button class="btn btn-sm btn-primary" (click)="handleAddContact()">Add Contact</button></li>
        <li class="action settings">
            <a href="javascript:void(0)" class="btn btn-sm btn-primary">Settings</a>
            <ul>
                <li class="setting">
                    <a routerLink="/dashboard/change-profile">Change profile</a>
                </li>
                <li class="setting">
                    <a (click)="handleLogout()">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
