<div class="wrapper container desktop">
    <div class="burger-icon">
        <div class="burger" (click)="handleBurgerMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="logo-wrapper">
        <img class="logo" src="/assets/logo.png" alt="logo">
        <a routerLink="/">Contacts Management</a>
    </div>
    <ul class="menus container" *ngIf="!isLoggedIn">
        <li class="menu"><a routerLink="login" class="btn btn-sm btn-primary">login</a></li>
        <li class="menu"><a routerLink="sign-up" class="btn btn-sm btn-primary">signup</a></li>
    </ul>
    <ul class="actions container" *ngIf="isLoggedIn">
        <li class="action"><button class="btn btn-sm btn-primary" (click)="handleAddContact()">Add Contact</button></li>
        <li class="action settings">
            <a href="javascript:void(0)" class="btn btn-sm btn-primary">Settings</a>
            <ul>
                <li class="setting">
                    <a routerLink="/dashboard/change-profile">Change profile</a>
                </li>
                <li class="setting">
                    <a (click)="handleLogout()">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>


<div class="mobile-aside hide" (click)="closeMobileMenu()"></div>
<div class="burger-menu">
    <button class="close" (click)="closeMobileMenu()">X</button>
    <h3>Menu</h3>
    
    <ul class="menus container actions" *ngIf="!isLoggedIn">
        <li class="menu"><a (click)="closeMobileMenu()" routerLink="login">login</a></li>
        <li class="menu"><a (click)="closeMobileMenu()" routerLink="sign-up">signup</a></li>
    </ul>
    <ul class="actions container" *ngIf="isLoggedIn">
             <li class="setting">
                <a (click)="closeMobileMenu()" routerLink="/dashboard/change-profile">Change profile</a>
            </li>
            <li class="setting">
                <a (click)="handleLogout()">Logout</a>
            </li>
    </ul>
</div>

