ul.menus,ul.actions{
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    list-style: none;
    
}

.desktop ul.menus, .desktop ul.actions{
    @media screen and (max-width:767px) {
        display: none;
    }

}
.wrapper{
    margin: 10px auto;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color);
    position: relative;
    display: flex;

    .desktop{
        @media only screen and (max-width : 767px){
            display: none;
        }
    }
}
a,button{
    text-transform: capitalize;
}

.logo{
    width: 30px;
    align-self: center;


}

.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
    color: var(--primary-color);
    a{
        white-space: nowrap;
        font-weight: 900;
        white-space: nowrap;
        text-decoration: none;
        color: var(--primary-color);
        font-size: 16px;
    }

}

.desktop .settings{
    position: relative;
    ul{
        list-style: none;
        padding: 0;
        position: absolute;
        left: 0;
        top: 100%;
        opacity: 0;
        visibility: none;
        z-index: 1;
        padding: 0;
        height: 0;
        overflow: hidden;
            .setting{
                font-size: 14px;
                margin-bottom: 5px;
                a{
                    text-decoration: none;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline  ;
                    }
                }
            }
    }
    &:hover{
        ul{
            opacity: 1;
            visibility: visible;
            height: auto;
            transition: all .2s ease-in;
            padding: 10px 5px;
            background: white;
            z-index: 3;

            a{
                white-space: nowrap;
                color: red;
            }
        }
    }

}
.burger-icon{
    border: 1px solid;
    width: 40px;
    position: absolute;
    border-radius: 3px;
    left: 4;
    top: -7px;
    z-index: 2;
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    padding: 9px;
    transform: scale(.9);
    @media (min-width : 768px){
        display: none;
    }
    .burger{
        display: flex;
        flex-direction: column;
        gap: 6px;
        
    }
    span{
        border-bottom: 2px solid var(--primary-color); 
    }
}

.burger-menu{
    position: fixed;
    left: -54%;
    top: 0;
    min-width: 50%;
    z-index: 4;
    height: 100vh;
    background-color: #ffffff;
    transition: left .5s ease-in-out;
    @media (min-width : 768px) {
        display: none;
    }
    &.open{
        left: 0;
    }
    .close{
        position: absolute;
        right: 8px;
        top: 8px;
        padding: 8px 10px;
        background: transparent;
        border: 1px solid var(--primary-color);
        line-height: 1;
        color: var(--primary-color);
        border-radius: 50%;
    }
    h3{
        text-align: center;
        margin-top: 25px;
    }
    
    .menus{
        flex-direction: column;
        gap: 5px;
        li{
            padding: 2px 30px;
        }
        a,button{
            width: 100%;
            display: inline-block;

        }
    }
    .actions{
        flex-direction: column;
        gap: 5px;
        list-style: none;
        font-size: 12px;
            padding: 0;
            a{
                color: grey;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        li{
            padding: 5px 10px;
            border-bottom: 1px solid;
            &:first-child{
                border-top: 1px solid;
            }
            
        }
        li >a,button{
            width: 100%;
            display: inline-block;
        }
    }
}

.mobile-aside{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .5;
    z-index: 3;
    &.hide{
        display: none;
    }
}

    


    @media only screen and (min-width:768px){
        .burger-menu,.mobile-aside{
            display: none;
        }
    }