<div class="wrapper">
    <h3>Login</h3>
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <div class="field">
            <input class="name" type="text" placeholder="Enter username" formControlName="username">
            <p [ngClass]="(loginForm.controls.username.invalid && loginForm.controls.username.touched)|| (this.onceSubmitted===true && loginForm.controls.username.invalid)?'':'hidden'" class="error">
                <span *ngIf="loginForm.controls.username.value?.length! >= 1 ">Minimum 3 characters required.</span>
                <span *ngIf="loginForm.controls.username.value?.length! < 1 ">This is a required field.</span>
            </p>
        </div>
        <div class="field">
            <input type="password" placeholder="Enter password" formControlName="password">
            <p [ngClass]="(loginForm.controls.password.value?.length! < 1 && loginForm.controls.password.touched)|| (this.onceSubmitted===true && loginForm.controls.password.invalid)?'':'hidden'" class="error">
                This is a required field.
            </p>
        </div>
        <button class="btn btn-primary btn-sm">
            
            <span *ngIf="!showLoading">Login</span>
            <span *ngIf="showLoading">Logging in ....</span>
        
        </button>
        
    </form>
</div>
