.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    .contact{
        flex: 0 0 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 185px;
        border-radius: 8px;
        padding-top: 15px;
        border: 9px solid #f3f3f3;
        animation: mymove .5s infinite;
        @media (max-width:767px){
            flex-basis: 48%;
        }
        .profile-img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: #f3f3f3;
            margin-bottom: 20px;
        }
        .name,.phone{
            height: 24px;
            background-color: #f3f3f3;
            width: 80%;
            margin-bottom: 20px;
        }
    }
}

.header{
    width: 100%;
    height: 33px;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    animation: mymove .5s infinite;
}

@keyframes mymove {
    0%   {opacity: .5;}
    50%  {opacity: .8;}
    100% {opacity: 1;}
  }