.wrapper{
    margin: auto;
    padding: 0 15px;
    margin-top: 50px;
    max-width: 400px;
    form{
        margin: auto;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        button{
            align-self: flex-start;
        }
    }
}
.hidden{
    visibility: hidden;
}