.wrapper{
    flex-wrap: wrap;
}
.mob-add-contact{
    display: block;
    @media (min-width : 768px){
        display: none;
    }
}

.no-contact-wrapper{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contacts-wrapper{
    flex-wrap: wrap;
    gap: 15px;
}

.contacts{
    padding-top: 30px;
    position: relative; 
    padding-left: 30px;
    border-left: 1px solid;
    @media only screen and (max-width : 767px){
        border: none;
        padding-left: 0;
    }
    .contact{
        margin-bottom: 10px;
        flex-direction: column;
        flex-basis: 23%;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        padding: 15px 0;
        border-radius: 8px  ;
        gap: 10px;
        position: relative;
        @media only screen and (max-width : 767px){
            flex-basis: 48%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &.favourite{
            label{
                display: block;
            }
        }
        &.hover:hover{
            label{
                display: block  ;
            }
        }
        input {
            display: none;
          }
          
          /* changes the color when selected */
          input:checked ~ label {
            color: red;
          }
          
          
          
          /* for styling purpose only */
          label {
            font-size: 25px;
            transform: scale(1.7);
            position: absolute;
            top: 0;
            right: 15px;
            display: none;
          }
    }
}

.head-wrapper{
    justify-content: space-between;
   .radio-wrapper{
    z-index: 2;
    display: flex;
    gap: 20px;
    span{
        margin-right: 7px;
    }
    }
}

.headings{
    margin-bottom: 15px;
    
}

.profile-img{
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    background-image: url("/assets/default-profile.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}